@use './mixins' as *;

// TRACKER DARK HC THEME // ykral
.g-root_theme_dark-hc {
  --g-color-private-white-50: rgba(255,255,255,.05);
  --g-color-private-white-70: rgba(255,255,255,.07);
  --g-color-private-white-100: rgba(255,255,255,.1);
  --g-color-private-white-150: rgba(255,255,255,.15);
  --g-color-private-white-200: rgba(255,255,255,.2);
  --g-color-private-white-250: rgba(255,255,255,.25);
  --g-color-private-white-300: rgba(255,255,255,.3);
  --g-color-private-white-350: rgba(255,255,255,.35);
  --g-color-private-white-400: rgba(255,255,255,.4);
  --g-color-private-white-450: rgba(255,255,255,.45);
  --g-color-private-white-500: rgba(255,255,255,.5);
  --g-color-private-white-550: rgba(255,255,255,.55);
  --g-color-private-white-600: rgba(255,255,255,.6);
  --g-color-private-white-650: rgba(255,255,255,.65);
  --g-color-private-white-700: rgba(255,255,255,.7);
  --g-color-private-white-750: rgba(255,255,255,.75);
  --g-color-private-white-800: rgba(255,255,255,.8);
  --g-color-private-white-850: rgba(255,255,255,.85);
  --g-color-private-white-900: rgba(255,255,255,.9);
  --g-color-private-white-950: rgba(255,255,255,.95);
  --g-color-private-white-50-solid: #2d2e31;
  --g-color-private-white-100-solid: #38393c;
  --g-color-private-white-150-solid: #434447;
  --g-color-private-white-200-solid: #4e4f51;
  --g-color-private-white-250-solid: #595a5c;
  --g-color-private-white-300-solid: #646567;
  --g-color-private-white-350-solid: #6f7072;
  --g-color-private-white-400-solid: #7a7b7d;
  --g-color-private-white-450-solid: #858688;
  --g-color-private-white-500-solid: #909193;
  --g-color-private-white-550-solid: #9c9c9d;
  --g-color-private-white-600-solid: #a7a7a8;
  --g-color-private-white-650-solid: #b2b2b3;
  --g-color-private-white-700-solid: #bdbdbe;
  --g-color-private-white-750-solid: #c8c8c9;
  --g-color-private-white-800-solid: #d3d3d4;
  --g-color-private-white-850-solid: #dededf;
  --g-color-private-white-900-solid: #e9e9e9;
  --g-color-private-white-950-solid: #f4f4f4;
  --g-color-private-white-1000-solid: #fff;
  --g-color-private-white-opaque-150: rgba(56,57,60,.97);
  --g-color-private-black-20: rgba(0,0,0,.02);
  --g-color-private-black-50: rgba(0,0,0,.05);
  --g-color-private-black-100: rgba(0,0,0,.1);
  --g-color-private-black-150: rgba(0,0,0,.15);
  --g-color-private-black-200: rgba(0,0,0,.2);
  --g-color-private-black-250: rgba(0,0,0,.25);
  --g-color-private-black-300: rgba(0,0,0,.3);
  --g-color-private-black-350: rgba(0,0,0,.35);
  --g-color-private-black-400: rgba(0,0,0,.4);
  --g-color-private-black-450: rgba(0,0,0,.45);
  --g-color-private-black-500: rgba(0,0,0,.5);
  --g-color-private-black-550: rgba(0,0,0,.55);
  --g-color-private-black-600: rgba(0,0,0,.6);
  --g-color-private-black-650: rgba(0,0,0,.65);
  --g-color-private-black-700: rgba(0,0,0,.7);
  --g-color-private-black-750: rgba(0,0,0,.75);
  --g-color-private-black-800: rgba(0,0,0,.8);
  --g-color-private-black-850: rgba(0,0,0,.85);
  --g-color-private-black-900: rgba(0,0,0,.9);
  --g-color-private-black-950: rgba(0,0,0,.95);
  --g-color-private-black-1000-solid: #000;
  --g-color-private-black-rock-850: #2d2c33;
  --g-color-private-black-rock-950: #222326;
  --g-color-private-blue-50: rgba(82,130,255,.1);
  --g-color-private-blue-100: rgba(82,130,255,.15);
  --g-color-private-blue-150: rgba(82,130,255,.2);
  --g-color-private-blue-200: rgba(82,130,255,.3);
  --g-color-private-blue-250: rgba(82,130,255,.4);
  --g-color-private-blue-300: rgba(82,130,255,.5);
  --g-color-private-blue-350: rgba(82,130,255,.6);
  --g-color-private-blue-400: rgba(82,130,255,.7);
  --g-color-private-blue-450: rgba(82,130,255,.8);
  --g-color-private-blue-500: rgba(82,130,255,.9);
  --g-color-private-blue-50-solid: #272d3c;
  --g-color-private-blue-100-solid: #293147;
  --g-color-private-blue-150-solid: #2c3651;
  --g-color-private-blue-200-solid: #304067;
  --g-color-private-blue-250-solid: #35497d;
  --g-color-private-blue-300-solid: #3a5393;
  --g-color-private-blue-350-solid: #3f5ca8;
  --g-color-private-blue-400-solid: #4466be;
  --g-color-private-blue-450-solid: #486fd4;
  --g-color-private-blue-500-solid: #4d79e9;
  --g-color-private-blue-550-solid: #5282ff;
  --g-color-private-blue-600-solid: #638fff;
  --g-color-private-blue-650-solid: #759bff;
  --g-color-private-blue-700-solid: #86a8ff;
  --g-color-private-blue-750-solid: #97b4ff;
  --g-color-private-blue-800-solid: #a9c1ff;
  --g-color-private-blue-850-solid: #bacdff;
  --g-color-private-blue-900-solid: #cbdaff;
  --g-color-private-blue-950-solid: #dce6ff;
  --g-color-private-blue-1000-solid: #e5ecff;
  --g-color-private-green-50: rgba(91,181,87,.1);
  --g-color-private-green-100: rgba(91,181,87,.15);
  --g-color-private-green-150: #000;
  --g-color-private-green-200: rgba(91,181,87,.3);
  --g-color-private-green-250: rgba(91,181,87,.4);
  --g-color-private-green-300: rgba(91,181,87,.5);
  --g-color-private-green-350: rgba(91,181,87,.6);
  --g-color-private-green-400: rgba(91,181,87,.7);
  --g-color-private-green-450: rgba(91,181,87,.8);
  --g-color-private-green-500: rgba(91,181,87,.9);
  --g-color-private-green-50-solid: #28322b;
  --g-color-private-green-100-solid: #2b392d;
  --g-color-private-green-150-solid: #2d4030;
  --g-color-private-green-200-solid: #334f35;
  --g-color-private-green-250-solid: #395d3a;
  --g-color-private-green-300-solid: #3f6c3f;
  --g-color-private-green-350-solid: #447b43;
  --g-color-private-green-400-solid: #4a8948;
  --g-color-private-green-450-solid: #50984d;
  --g-color-private-green-500-solid: #55a652;
  --g-color-private-green-550-solid: #5bb557;
  --g-color-private-green-600-solid: #6bbc68;
  --g-color-private-green-650-solid: #7cc479;
  --g-color-private-green-700-solid: #8ccb89;
  --g-color-private-green-750-solid: #9dd39a;
  --g-color-private-green-800-solid: #addaab;
  --g-color-private-green-850-solid: #bde1bc;
  --g-color-private-green-900-solid: #cee9cd;
  --g-color-private-green-950-solid: #def0dd;
  --g-color-private-green-1000-solid: #e6f4e6;
  /*--g-color-private-yellow-50: rgba(255,203,0,.1);
  --g-color-private-yellow-100: rgba(255,203,0,.15);
  --g-color-private-yellow-150: rgba(255,203,0,.2);
  --g-color-private-yellow-200: rgba(255,203,0,.3);
  --g-color-private-yellow-250: rgba(255,203,0,.4);
  --g-color-private-yellow-300: rgba(255,203,0,.5);
  --g-color-private-yellow-350: rgba(255,203,0,.6);
  --g-color-private-yellow-400: rgba(255,203,0,.7);
  --g-color-private-yellow-450: rgba(255,203,0,.8);
  --g-color-private-yellow-500: rgba(255,203,0,.9);
  --g-color-private-yellow-50-solid: #383422;
  --g-color-private-yellow-100-solid: #433c20;
  --g-color-private-yellow-150-solid: #4e451e;
  --g-color-private-yellow-200-solid: #64551b;
  --g-color-private-yellow-250-solid: #7a6617;
  --g-color-private-yellow-300-solid: #907713;
  --g-color-private-yellow-350-solid: #a7880f;
  --g-color-private-yellow-400-solid: #bd990b;
  --g-color-private-yellow-450-solid: #d3a908;
  --g-color-private-yellow-500-solid: #e9ba04;
  --g-color-private-yellow-550-solid: #ffcb00;
  --g-color-private-yellow-600-solid: #ffd01a;
  --g-color-private-yellow-650-solid: #ffd533;
  --g-color-private-yellow-700-solid: #ffdb4c;
  --g-color-private-yellow-750-solid: #ffe066;
  --g-color-private-yellow-800-solid: #ffe580;
  --g-color-private-yellow-850-solid: #ffea99;
  --g-color-private-yellow-900-solid: #ffefb3;
  --g-color-private-yellow-950-solid: #fff5cc;
  --g-color-private-yellow-1000-solid: #fff7d9;*/
  --g-color-private-orange-50: rgba(200,99,12,.1);
  --g-color-private-orange-100: rgba(200,99,12,.15);
  --g-color-private-orange-150: rgba(200,99,12,.2);
  --g-color-private-orange-200: rgba(200,99,12,.3);
  --g-color-private-orange-250: rgba(200,99,12,.4);
  --g-color-private-orange-300: rgba(200,99,12,.5);
  --g-color-private-orange-350: rgba(200,99,12,.6);
  --g-color-private-orange-400: rgba(200,99,12,.7);
  --g-color-private-orange-450: rgba(200,99,12,.8);
  --g-color-private-orange-500: rgba(200,99,12,.9);
  --g-color-private-orange-50-solid: #332923;
  --g-color-private-orange-100-solid: #3b2d22;
  --g-color-private-orange-150-solid: #433021;
  --g-color-private-orange-200-solid: #54361e;
  --g-color-private-orange-250-solid: #643d1c;
  --g-color-private-orange-300-solid: #754319;
  --g-color-private-orange-350-solid: #864916;
  --g-color-private-orange-400-solid: #965014;
  --g-color-private-orange-450-solid: #a75611;
  --g-color-private-orange-500-solid: #b75d0f;
  --g-color-private-orange-550-solid: #c8630c;
  --g-color-private-orange-600-solid: #ce7324;
  --g-color-private-orange-650-solid: #d3823d;
  --g-color-private-orange-700-solid: #d89255;
  --g-color-private-orange-750-solid: #dea16d;
  --g-color-private-orange-800-solid: #e3b185;
  --g-color-private-orange-850-solid: #e9c19e;
  --g-color-private-orange-900-solid: #efd0b6;
  --g-color-private-orange-950-solid: #f4e0ce;
  --g-color-private-orange-1000-solid: #f7e8db;
  --g-color-private-red-50: rgba(232,73,69,.1);
  --g-color-private-red-100: rgba(232,73,69,.15);
  --g-color-private-red-150: rgba(232,73,69,.2);
  --g-color-private-red-200: rgba(232,73,69,.3);
  --g-color-private-red-250: rgba(232,73,69,.4);
  --g-color-private-red-300: rgba(232,73,69,.5);
  --g-color-private-red-350: rgba(232,73,69,.6);
  --g-color-private-red-400: rgba(232,73,69,.7);
  --g-color-private-red-450: rgba(232,73,69,.8);
  --g-color-private-red-500: rgba(232,73,69,.9);
  --g-color-private-red-50-solid: #362729;
  --g-color-private-red-100-solid: #40292b;
  --g-color-private-red-150-solid: #4a2b2c;
  --g-color-private-red-200-solid: #5d2e2f;
  --g-color-private-red-250-solid: #713233;
  --g-color-private-red-300-solid: #853636;
  --g-color-private-red-350-solid: #993a39;
  --g-color-private-red-400-solid: #ac3d3c;
  --g-color-private-red-450-solid: #c0413f;
  --g-color-private-red-500-solid: #d44542;
  --g-color-private-red-550-solid: #e84945;
  --g-color-private-red-600-solid: #ea5b58;
  --g-color-private-red-650-solid: #ec6d6b;
  --g-color-private-red-700-solid: #ef7f7d;
  --g-color-private-red-750-solid: #f19290;
  --g-color-private-red-800-solid: #f3a4a2;
  --g-color-private-red-850-solid: #f6b6b5;
  --g-color-private-red-900-solid: #f8c8c7;
  --g-color-private-red-950-solid: #fadbda;
  --g-color-private-red-1000-solid: #fce4e3;
  --g-color-private-purple-50: rgba(143,82,204,.1);
  --g-color-private-purple-100: rgba(143,82,204,.15);
  --g-color-private-purple-150: rgba(143,82,204,.2);
  --g-color-private-purple-200: rgba(143,82,204,.3);
  --g-color-private-purple-250: rgba(143,82,204,.4);
  --g-color-private-purple-300: rgba(143,82,204,.5);
  --g-color-private-purple-350: rgba(143,82,204,.6);
  --g-color-private-purple-400: rgba(143,82,204,.7);
  --g-color-private-purple-450: rgba(143,82,204,.8);
  --g-color-private-purple-500: rgba(143,82,204,.9);
  --g-color-private-purple-50-solid: #2d2837;
  --g-color-private-purple-100-solid: #322a3f;
  --g-color-private-purple-150-solid: #382c47;
  --g-color-private-purple-200-solid: #433158;
  --g-color-private-purple-250-solid: #4e3668;
  --g-color-private-purple-300-solid: #593b79;
  --g-color-private-purple-350-solid: #633f8a;
  --g-color-private-purple-400-solid: #6e449a;
  --g-color-private-purple-450-solid: #7949ab;
  --g-color-private-purple-500-solid: #844dbb;
  --g-color-private-purple-550-solid: #8f52cc;
  --g-color-private-purple-600-solid: #9a63d1;
  --g-color-private-purple-650-solid: #a575d6;
  --g-color-private-purple-700-solid: #b186db;
  --g-color-private-purple-750-solid: #bc97e0;
  --g-color-private-purple-800-solid: #c7a9e6;
  --g-color-private-purple-850-solid: #d2baeb;
  --g-color-private-purple-900-solid: #ddcbf0;
  --g-color-private-purple-950-solid: #e9dcf5;
  --g-color-private-purple-1000-solid: #eee5f7;
  --g-color-private-cool-grey-50: rgba(96,128,156,.1);
  --g-color-private-cool-grey-100: rgba(96,128,156,.15);
  --g-color-private-cool-grey-150: rgba(96,128,156,.2);
  --g-color-private-cool-grey-200: rgba(96,128,156,.3);
  --g-color-private-cool-grey-250: rgba(96,128,156,.4);
  --g-color-private-cool-grey-300: rgba(96,128,156,.5);
  --g-color-private-cool-grey-350: rgba(96,128,156,.6);
  --g-color-private-cool-grey-400: rgba(96,128,156,.7);
  --g-color-private-cool-grey-450: rgba(96,128,156,.8);
  --g-color-private-cool-grey-500: rgba(96,128,156,.9);
  --g-color-private-cool-grey-50-solid: #282c32;
  --g-color-private-cool-grey-100-solid: #2b3138;
  --g-color-private-cool-grey-150-solid: #2e363e;
  --g-color-private-cool-grey-200-solid: #353f49;
  --g-color-private-cool-grey-250-solid: #3b4855;
  --g-color-private-cool-grey-300-solid: #415161;
  --g-color-private-cool-grey-350-solid: #475b6d;
  --g-color-private-cool-grey-400-solid: #4d6479;
  --g-color-private-cool-grey-450-solid: #546d84;
  --g-color-private-cool-grey-500-solid: #5a7790;
  --g-color-private-cool-grey-550-solid: #60809c;
  --g-color-private-cool-grey-600-solid: #708da6;
  --g-color-private-cool-grey-650-solid: #8099b0;
  --g-color-private-cool-grey-700-solid: #90a6ba;
  --g-color-private-cool-grey-750-solid: #a0b3c3;
  --g-color-private-cool-grey-800-solid: #b0bfcd;
  --g-color-private-cool-grey-850-solid: #bfccd7;
  --g-color-private-cool-grey-900-solid: #cfd9e1;
  --g-color-private-cool-grey-950-solid: #dfe6eb;
  --g-color-private-cool-grey-1000-solid: #e7ecf0;
  --g-color-base-background: #222326;
  /*--g-color-base-brand: var(--g-color-private-blue-450-solid);
  --g-color-base-brand-hover: var(--g-color-private-blue-650-solid);
  --g-color-base-selection: var(--g-color-private-blue-250);
  --g-color-base-selection-hover: var(--g-color-private-blue-400);
  --g-color-line-brand: var(--g-color-private-blue-550-solid);
  --g-color-text-brand: var(--g-color-private-blue-650-solid);
  --g-color-text-brand-heavy: var(--g-color-private-blue-850-solid);
  --g-color-text-brand-contrast: var(--g-color-text-light-primary);*/
  --g-color-text-link: var(--g-color-private-blue-650-solid);
  --g-color-text-link-hover: var(--g-color-private-blue-800-solid);
  --gil-color-object-base: var(--g-color-private-blue-550-solid);
  --gil-color-object-accent-heavy: var(--g-color-private-blue-750-solid);
  --gil-color-object-hightlight: var(--g-color-private-blue-350-solid);
  --gil-color-shadow-over-object: var(--g-color-private-blue-300-solid);
  --gil-color-background-lines: var(--g-color-private-white-550-solid);
  --gil-color-background-shapes: var(--g-color-private-white-200-solid);
  --gil-color-object-accent-light: var(--g-color-private-white-1000-solid);
  --gil-color-object-danger: var(--g-color-private-red-550-solid);
}

.g-root {
  --g-text-body-1-font-size: 14px;
  --g-font-family-sans:      "YS Text", "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.g-root_theme_dark-hc {
  --g-color-base-modal: rgba(32, 31, 32, 0.8);
}

.g-list__item {
  border-radius: var(--g-border-radius-s);

  &_active {
    background-color: var(--g-color-base-generic);
  }
}

.g-modal__content {
  backdrop-filter: blur(8px);
}

.g-card {
  padding:        var(--g-spacing-4);
}

///

.g-text-input_disabled {
  pointer-events: none !important;
}

.g-tab-panel_hidden {
  display: none !important;
}

body.glass-gradient__background {

  .g-tooltip,
  .g-modal__content,
  .g-popup {
    @include glass-normal;
  }

}