.g-root {
  --g-text-body-1-font-size: 14px;
  --g-font-family-sans:      "YS Text", "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.g-root_theme_dark-hc {
  --g-color-base-modal: rgba(32, 31, 32, 0.8);
}

.g-list__item {
  border-radius: var(--g-border-radius-s);

  &_active {
    background-color: var(--g-color-base-generic);
  }
}

.g-modal__content {
  backdrop-filter: blur(8px);
}

.g-card {
  padding:        var(--g-spacing-4);
}

///

.g-text-input_disabled {
  pointer-events: none !important;
}

.g-tab-panel_hidden {
  display: none !important;
}